* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(
    0.875rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );
  --fujiWhite: #dcd7ba;
  --oldWhite: #c8c093;
  --sumiInk0: #16161d;
  --sumiInk1: #1f1f28;
  --sumiInk2: #2a2a37;
  --sumiInk3: #363646;
  --sumiInk4: #54546d;
  --waveBlue1: #223249;
  --waveBlue2: #2d4f67;
  --winterGreen: #2b3328;
  --winterYellow: #49443c;
  --winterRed: #43242b;
  --winterBlue: #252535;
  --autumnGreen: #76946a;
  --autumnRed: #c34043;
  --autumnYellow: #dca561;
  --samuraiRed: #e82424;
  --roninYellow: #ff9e3b;
  --waveAqua1: #6a9589;
  --dragonBlue: #658594;
  --fujiGray: #727169;
  --springViolet1: #938aa9;
  --oniViolet: #957fb8;
  --crystalBlue: #7e9cd8;
  --springViolet2: #9cabca;
  --springBlue: #7fb4ca;
  --lightBlue: #a3d4d5;
  --waveAqua2: #7aa89f;
  --springGreen: #98bb6c;
  --boatYellow1: #938056;
  --boatYellow2: #c0a36e;
  --carpYellow: #e6c384;
  --sakuraPink: #d27e99;
  --waveRed: #e46876;
  --peachRed: #ff5d62;
  --surimiOrange: #ffa066;
  --katanaGray: #717c7c;
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  background-color: var(--sumiInk1);
  color: var(--fujiWhite);
}

a,
a:visited {
  color: var(--sakuraPink);
  text-decoration: wavy underline var(--sumiInk4);
}

.disappear {
  display: none;
  transition: display 0.2s ease-in-out;
}
