---
let title = "NPM Downloads";

const url = `${process.env.NETLIFY_URL}/.netlify/functions/getDailyTotal`;
console.log(url);

let daily = await fetch(
  `${process.env.NETLIFY_URL}/.netlify/functions/getDailyTotal`
)
  .then((res) => res.json())
  .then((data) => {
    console.log(data);
    return data;
  })
  .catch((err) => console.log(err));
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style global>
      @import "../styles/global.css";
    </style>

    <style>
      header {
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: min(100%, 68ch);
      }
    </style>
  </head>
  <body>
    <main>
      <h2>
        Yesterdays total: {parseInt(
          daily.npm.downloads.lastDay.count
        ).toLocaleString()}
      </h2>
    </main>
  </body>
</html>
